.container-fluid{

   height: auto;
position : relative;
bottom : -30px;
left: 200px;

}
 .articles
{
    bottom: -35px;
    left: 100px;
}

.titre-article
{
color:#EE8D22;
font-size: 20px;
font-display: helvetica;
text-align : left;
}
.vertical-line{
    border-left: 1px solid #C4C4C4;
    display: inline-block;
    height: 500px;
    margin: 0px 10px 100px 20px;
  }
  .rectangle1{
	width:400px;
	height:300px;
    background:#FFFF;
    border: 1px solid #C4C4C4;


}
.entete
{
    text-underline-position: under;
    text-decoration-style: solid ;
    padding : 0 0 1px 0;
    border-bottom : 3px solid #EE8D22;
    width:120px;
    height:30px;
    margin-left:130px;
}
.rectangle2{
	width:400px;
	height:500px;
    background:#FFFF;
    border: 1px solid #C4C4C4;


}
