<p>Ajouter une nouvelle edition mensulle</p>

<div class="container">
    <form id="contact" action="" method="post">
        <fieldset>
            <legend>Date de l'edtion </legend>
            <input placeholder="Date" type="date" tabindex="1" #date required >
        </fieldset>
        <fieldset>
            <legend>Numero de l'edition</legend>
            <input placeholder="Numero" type="string" tabindex="2" #numero required>
        </fieldset>
        <p class="psection">Section 1 </p>
        <fieldset>
            <legend>Titre</legend>
            <input placeholder="Titre" type="string" tabindex="2" #titre required>
        </fieldset>
        
        <fieldset>
            <label>Description</label>
            <input placeholder="Description" type="text" tabindex="3" #description required>
        </fieldset>

        <fieldset>
            <legend>Insérer images</legend>
            <input type="file" accept="image/*" #file (change)="changeFile(file.files)">
        </fieldset>
        <fieldset>
            <button (click)="ajouterSection(titre.value,description.value)" name="submit" type="submit" id="contact-submit" data-submit="...Sending" >
                    
                Ajouter section
            </button>
        </fieldset>
        <fieldset>
            <button (click)="ajouterEdition(date.value,numero.value)" name="submit" type="submit" id="contact-submit" data-submit="...Sending" >
                    
                                    Enregistrer</button>
        </fieldset>
    </form>


</div>



