 
 
 .container{
	 margin-left: -80%;
	max-width:1000px;
	margin-right: 0;
	width:100%;
	height: 100%;
	margin-top: 80px;
    margin-bottom:20%;
 }
 p{
	 margin-top: 3%;
 
font-family: Helvetica Neue;
font-size: 24px;
line-height: 29px;
margin-left: 30%;
margin-right: 30%;
color: #EE8D22;
margin-bottom: 55px;
 }
 button[type="button"]{
	 
	 margin-left: -20px;
 }
 button[type="submit"]:{
	 margin-top: 5%;
	 position: absolute;
 }
 .edition-section{
   display: flex;
   

 }
 .editor{
	 width: max-content;
 }
 button[type="submit"]:hover {
	background:#EE8D22;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
