<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div> <img alt="Bootstrap" src="assets/img/article1.jpg" width="95%" height="300px">

                <h4 class="titre-article">
                    Coopér'Actions
                </h4>

                <p>
                    25 startups sénégalaises étaient mi-mai au salon Vivatech de Paris.
                    Leur présence était rendue possible par l'accompagnement d'acteurs des télécoms, de Fabs Labs,
                    d'incubateurs, de co-working spaces, nationaux <a href="#">Lire la suite</a>
                </p>
            </div>
            <div> <img alt="Bootstrap" src="assets/img/article1.jpg" width="95%" height="300px">

                <h4 class="titre-article">
                    AfricaArena Tour Dakar
                </h4>

                <p>
                    L'AfricArena Tour sera à Dakar le 13 juin pour donner aux meilleurs entrepreneurs sénégalais
                    l'opportunité
                    de partager leur modèle d'affaires et de convaincre les juges experts <a href="#">Lire la suite</a>
                </p>
            </div>
            <div> <img alt="Bootstrap" src="assets/img/article1.jpg" width="95%" height="300px">

                <h4 class="titre-article">
                    AfricaArena Tour Dakar
                </h4>

                <p>
                    L'AfricArena Tour sera à Dakar le 13 juin pour donner aux meilleurs entrepreneurs sénégalais
                    l'opportunité
                    de partager leur modèle d'affaires et de convaincre les juges experts <a href="#">Lire la suite</a>
                </p>
            </div>
        </div>

        <div class="barre-verticale">
            <h5>
                <span class="vertical-line"></span>
            </h5>
        </div>
        <div class="categorie">
            <div class="rectangle1">

                <h6>
                    <ins>TOP ARTICLES</ins>
                </h6>
                <ul class="list-unstyled">
                    <li class="list-item">
                        Mardi du Numérique
                        "L'inévitable entente entre les les secteurs public et privé"

                    </li>
                    <li class="list-item">
                        Eyone SARL partage ses expériences post-event
                    </li>
                    <li class="list-item">
                        Mardi du Numérique
                        "L'inévitable entente entre les les secteurs public et privé" </li>
                    <li class="list-item">
                        Eyone SARL partage ses expériences post-event
                    </li>
                </ul>
            </div>
            <p></p>
            <div class="rectangle2">

                <h6 class="entete">
                    CATEGORIE
                </h6>
                <ul>
                    <li class="list-item">
                        Incubateurs, CTIC
                    </li>
                    <li class="list-item">
                        Agenda
                    </li>
                    <li class="list-item">
                        Statiques
                    <li class="list-item">
                        Télécoms
                    </li>
                    <li class="list-item">
                        Gouvernance
                    </li>
                    <li class="list-item">
                        Fintech
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>